.datatable-crud-demo .table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 960px) {
  .datatable-crud-demo .table-header {
    align-items: flex-start;
  }
}
.datatable-crud-demo .product-image {
  width: 100px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.datatable-crud-demo .p-dialog .product-image {
  width: 150px;
  margin: 0 auto 2rem auto;
  display: block;
}
.datatable-crud-demo .confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 960px) {
  .datatable-crud-demo .p-toolbar {
    flex-wrap: wrap;
  }
  .datatable-crud-demo .p-toolbar .p-button {
    margin-bottom: 0.25rem;
  }
  .datatable-crud-demo .table-header {
    flex-direction: column;
  }
  .datatable-crud-demo .table-header .p-input-icon-left,
  .datatable-crud-demo .table-header input {
    width: 100%;
  }
}

.myforms:hover {
  background-color: whitesmoke;
  font-weight: bold;
  display: block;
  cursor: pointer;
  color: #333;
}

.inputbutton {
  color: whitesmoke;
  border: #b8b9c9;
}

.button-demo .template .p-button.formedit {
  background: linear-gradient(
    to left,
    var(--orange-400) 50%,
    var(--orange-500) 50%
  );
  background-size: 200% 100%;

  border-color: var(--orange-500);
}
.button-demo .template .p-button.formedit:hover {
  background-position: left bottom;
}
.button-demo .template .p-button.formedit i {
  background-color: var(--orange-500);
}
.button-demo .template .p-button.formedit:focus {
  box-shadow: 0 0 0 1px var(--orange-200);
}
.button-demo .template .p-button.formdata {
  background: linear-gradient(
    to left,
    var(--bluegray-700) 50%,
    var(--bluegray-800) 50%
  );
  background-size: 200% 100%;

  transition: background-position 0.5s ease-out;
  color: #fff;
  border-color: var(--bluegray-800);
}
.button-demo .template .p-button.formdata:hover {
  background-position: left bottom;
}
.button-demo .template .p-button.formdata i {
  background-color: var(--bluegray-800);
}
.button-demo .template .p-button.formdata:focus {
  box-shadow: 0 0 0 1px var(--bluegray-500);
}

.backDashboardButton {
  background: linear-gradient(
    to right,
    var(--blue-400) 50%,
    var(--blue-500) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.5s ease-out;
  color: #fff;
  border-color: var(--blue-500);
}

@media screen and (max-width: 960px) {
  .button-demo .p-button {
    margin-bottom: 0.5rem;
  }
  .button-demo .p-button:not(.p-button-icon-only) {
    display: flex;
    width: 100%;
  }
  .button-demo .p-buttonset .p-button {
    margin-bottom: 0;
  }
}

.backbutton {
  background-color: var(--blue-300);
}
