.lsApp-toolbar {
  background: #fff;
  border-bottom: 1px solid #c8ceed;
  display: flex;
  flex-shrink: 1;
  left: 0;
  min-height: 62px;
  padding: 8px 5px;
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  top: 0;
}

.ixrdxR {
  font-size: 1em;
  color: rgb(44, 51, 69);
  line-height: 1;
  display: flex;
}

.lsApp-toolbar .sb-inputW {
  /* flex: 1 1;
  margin: 0 12px 0 8px;
  min-width: 240px;
  position: relative; */
}

.lsApp-toolbar .sb-input {
  /* background-color: #f3f3fe;
  /*background-position: left 10px center;
  background-repeat: no-repeat;
  border: 1px solid #f3f3fe;
  border-radius: 4px;
  color: #6f76a7;
  display: block;
  font-size: 0.875em;
  min-height: 38px;
  padding: 13px 36px;
  transition: 0.3s;
  width: 100%; */
}

.lsApp-toolbar .sb-input-clear {
  background-position: 0, 100%;
  background-repeat: no-repeat, no-repeat;
  cursor: pointer;
  height: 100%;
  opacity: 1;
  pointer-events: all;
  position: absolute;
  right: 12px;
  top: -1px;
  transition: 0.3s;
  width: 18px;
}
.lsApp-toolbar .sb-inputW {
  flex: 1 1;
  margin: 0 12px 0 8px;
  min-width: 240px;
  position: relative;
}

.lsApp-toolbar .sb-listActions {
  display: flex;
  margin-left: auto;
  max-width: 850px;
}

.lsApp-toolbar .sb-content {
  display: flex;
  flex: 1 1;
  justify-content: space-between;
  pointer-events: none;
  position: relative;
  z-index: 20;
}

.lsApp-toolbar .sb-content {
  display: flex;
  flex: 1 1;
  justify-content: space-between;
  pointer-events: none;
  position: relative;
  z-index: 20;
}

.lsApp-toolbar .sb-bulkActions:empty {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1 1;
  justify-content: flex-start;
  margin-right: 8px;
  padding-left: 17px;
}

.lsApp-toolbar .sb-listActions button {
  background-color: #fff;
  border: 1px solid #d8dae9;
  border-radius: 4px px;
  color: #0a1551;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.125rem;
  min-height: 44px;
  outline: none;
  padding: 12px;
}

.sb-sortW button {
  background: transparent;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='21' height='15' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%232B3245'%3E%3Crect width='12.954' height='2.1' rx='1.05'/%3E%3Crect y='4.05' width='10.5' height='2.1' rx='1.05'/%3E%3Cpath d='M1.05 8.1H6.3a1.05 1.05 0 1 1 0 2.1H1.05a1.05 1.05 0 1 1 0-2.1zm0 4.05H4.2a1.05 1.05 0 1 1 0 2.1H1.05a1.05 1.05 0 1 1 0-2.1zM15.798 14.72a.81.81 0 0 0 .625-.267l3.465-3.464a.884.884 0 0 0-1.25-1.25l-1.947 1.946V.893a.893.893 0 0 0-1.786 0v10.792L12.96 9.739a.884.884 0 1 0-1.25 1.25l3.464 3.464a.81.81 0 0 0 .625.268z'/%3E%3C/g%3E%3C/svg%3E");
  background-position: 10px;
  background-repeat: no-repeat;
  box-shadow: none;
  color: #252d5b;
  font-weight: 600;
  margin: 0 5px;
  padding-left: 35px !important;
  text-shadow: none;
}

.lsApp-toolbar .sb-folderToggle {
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='13'%3E%3Cpath fill='%23767789' fill-rule='evenodd' d='M1 0h5.317L7.5 1.83H14a1 1 0 0 1 1 1V12a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1z'/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 15px 13px;
  border: 1px solid #dfdfe3;
  border-radius: 4px;
  cursor: pointer;
  display: none;
  flex-shrink: 0;
  height: 44px;
  margin-right: 8px;
  width: 44px;
}

.lsApp-noForms {
  font-size: 16px;
  line-height: 1.5;
  margin-top: -8em;
  padding: 3em;
  text-align: center;
}

.lsApp-noForms-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='44' height='53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.816A6.468 6.468 0 0 1 6.468.348h30.721a6.468 6.468 0 0 1 6.468 6.468v38.806a6.468 6.468 0 0 1-6.468 6.468H6.468A6.468 6.468 0 0 1 0 45.622V6.816Z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M37.19 1.965H6.467a4.85 4.85 0 0 0-4.851 4.851v38.806a4.85 4.85 0 0 0 4.85 4.851H37.19a4.85 4.85 0 0 0 4.851-4.85V6.815a4.85 4.85 0 0 0-4.85-4.85ZM6.467.348A6.468 6.468 0 0 0 0 6.816v38.806a6.468 6.468 0 0 0 6.468 6.468h30.721a6.468 6.468 0 0 0 6.468-6.468V6.816A6.468 6.468 0 0 0 37.19.348H6.468Z' fill='%23B1C3E9'/%3E%3Cpath d='M9.24 17.904a2.772 2.772 0 0 1 2.772-2.772h20.327a2.772 2.772 0 1 1 0 5.543H12.012a2.772 2.772 0 0 1-2.772-2.771Z' fill='%2309F'/%3E%3Cpath d='M9.24 27.143a2.772 2.772 0 0 1 2.772-2.772h20.327a2.772 2.772 0 0 1 0 5.544H12.012a2.772 2.772 0 0 1-2.772-2.772Z' fill='%23FF6100'/%3E%3Cpath d='M9.24 36.383a2.772 2.772 0 0 1 2.772-2.772h20.327a2.772 2.772 0 1 1 0 5.543H12.012a2.772 2.772 0 0 1-2.772-2.772Z' fill='%23FFB629'/%3E%3C/svg%3E");
  background-color: #e3e5f5;
  background-position: center 30px;
  background-repeat: no-repeat;
  border-radius: 105px;
  display: inline-block;
  height: 105px;
  margin-bottom: 30px;
  position: relative;
  width: 105px;
}

.lsApp-noForms-icon-tip {
  align-items: center;
  background-color: #333;
  border-radius: 4px;
  color: #333;
  display: flex;
  height: 32px;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: -12px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: 0.3s;
}

.lsApp-noForms-icon-tip-arrow {
  bottom: 0;
  height: 16px;
  left: 50%;
  pointer-events: none;
  position: absolute;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  width: 16px;
  z-index: -1;
}

.trash .lsApp-noForms-icon-tip:before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='15' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.841 4.718h11.593v13.173c0 1.215-.84 2.106-1.988 2.107-2.54.003-5.079.003-7.618 0-1.149-.002-1.986-.892-1.986-2.109C1.84 13.58 1.84 9.271 1.84 4.962v-.244Zm8.68 12.207V7.768H8.883c-.278 0-.279 0-.279.296v8.86h1.918Zm-5.768.015h1.643c.275 0 .275 0 .275-.3V8.064c0-.052.015-.114-.005-.156-.026-.054-.08-.132-.123-.133-.591-.008-1.183-.006-1.79-.006v9.172ZM.666 3.496V1.173h.266c1.167 0 2.335.004 3.502-.008a.53.53 0 0 0 .344-.164c.258-.272.49-.577.744-.853a.437.437 0 0 1 .286-.141c1.22-.01 2.438-.01 3.657 0 .097 0 .214.063.287.142.255.275.486.581.744.852a.53.53 0 0 0 .344.164c1.16.012 2.32.008 3.48.008h.283v2.323H.666Z' fill='%23fff'/%3E%3C/svg%3E");
  background-size: 14px 20px;
  display: block;
}
.lsApp-noForms-icon-tip:before {
  background-position: 50%;
  background-repeat: no-repeat;
  content: '';
  display: none;
  height: 100%;
  margin-right: -6px;
  width: 36px;
}

.lsApp-noForms-icon-tip:after {
  content: '0';
  font-size: 24px;
  font-weight: 500;
  padding: 0 8px;
  text-align: center;
}
.trash .lsApp-noForms-icon-tip {
  background-color: #e82624;
  color: #e82624;
}

.lsApp-noForms-icon-tip {
  align-items: center;
  background-color: #333;
  border-radius: 4px;
  color: #333;
  display: flex;
  height: 32px;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: -12px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: 0.3s;
}

.buttoncreateForm {
  border: 1px solid #ff6100;
  color: #ff6100;
  background-color: white;
}

.sb-sortW.isOpened button {
  background-color: #252d5b !important;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='22' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1h12M1 5h11M1 9h8m-8 4h5' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 3v11m-4-4 4 4 4-4' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: #252d5b;
  color: #fff;
}

.lsApp-toolbar .sb-input {
  /* background-color: #f3f3fe;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.875 6.688a4.818 4.818 0 0 1 4.813-4.813A4.818 4.818 0 0 1 11.5 6.688 4.819 4.819 0 0 1 6.687 11.5a4.818 4.818 0 0 1-4.812-4.813zm12.996 7.565-3.869-3.87a5.664 5.664 0 0 0 1.373-3.695A5.694 5.694 0 0 0 6.687 1 5.694 5.694 0 0 0 1 6.688a5.694 5.694 0 0 0 5.688 5.687c1.41 0 2.7-.52 3.696-1.373l3.869 3.87a.438.438 0 1 0 .619-.62z' fill='%236F76A7' stroke='%236F76A7'/%3E%3C/svg%3E");
  background-position: left 10px center;
  background-repeat: no-repeat;
  border: 1px solid #f3f3fe;
  border-radius: 4px;
  color: #6f76a7;
  display: block;
  font-size: 0.875em;
  min-height: 38px;
  padding: 13px 36px;
  transition: 0.3s;
  width: 100%; */
}

.lsApp-toolbar .sb-inputW {
  flex: 1 1;
  margin: 0 12px 0 8px;
  min-width: 240px;
  position: relative;
}
/* 
.lsApp-toolbar .sb-input {
  background-color: #f3f3fe;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.875 6.688a4.818 4.818 0 0 1 4.813-4.813A4.818 4.818 0 0 1 11.5 6.688 4.819 4.819 0 0 1 6.687 11.5a4.818 4.818 0 0 1-4.812-4.813zm12.996 7.565-3.869-3.87a5.664 5.664 0 0 0 1.373-3.695A5.694 5.694 0 0 0 6.687 1 5.694 5.694 0 0 0 1 6.688a5.694 5.694 0 0 0 5.688 5.687c1.41 0 2.7-.52 3.696-1.373l3.869 3.87a.438.438 0 1 0 .619-.62z' fill='%236F76A7' stroke='%236F76A7'/%3E%3C/svg%3E");
  background-position: left 10px center;
  background-repeat: no-repeat;
  border: 1px solid #f3f3fe;
  border-radius: 4px;
  color: #6f76a7;
  display: block;
  font-size: 0.875em;
  min-height: 38px;
  padding: 13px 36px;
  transition: 0.3s;
  width: 100%;
} */

.lsApp-toolbar .sb-input-clear {
  /* background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='3' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.55 1.5 1.25 19' stroke='%238D8DAA' stroke-linecap='square'/%3E%3C/svg%3E),url(data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.586.929a.556.556 0 1 1 .785.785L1.515 9.571a.556.556 0 1 1-.786-.786L8.586.93Z' fill='%232B3245' stroke='%232B3245' stroke-width='.3'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.515.929a.556.556 0 0 0-.786.785l7.857 7.857a.556.556 0 1 0 .786-.786L1.515.93Z' fill='%232B3245' stroke='%232B3245' stroke-width='.3'/%3E%3C/svg%3E");
  background-position: 0, 100%;
  background-repeat: no-repeat, no-repeat;
  cursor: pointer;
  height: 100%;
  opacity: 1;
  pointer-events: all;
  position: absolute;
  right: 12px;
  top: -1px;
  transition: 0.3s;
  width: 18px; */
}

.sb-sortW button {
  /* background: transparent;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='21' height='15' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%232B3245'%3E%3Crect width='12.954' height='2.1' rx='1.05'/%3E%3Crect y='4.05' width='10.5' height='2.1' rx='1.05'/%3E%3Cpath d='M1.05 8.1H6.3a1.05 1.05 0 1 1 0 2.1H1.05a1.05 1.05 0 1 1 0-2.1zm0 4.05H4.2a1.05 1.05 0 1 1 0 2.1H1.05a1.05 1.05 0 1 1 0-2.1zM15.798 14.72a.81.81 0 0 0 .625-.267l3.465-3.464a.884.884 0 0 0-1.25-1.25l-1.947 1.946V.893a.893.893 0 0 0-1.786 0v10.792L12.96 9.739a.884.884 0 1 0-1.25 1.25l3.464 3.464a.81.81 0 0 0 .625.268z'/%3E%3C/g%3E%3C/svg%3E");
  background-position: 10px;
  background-repeat: no-repeat;
  box-shadow: none;
  color: #252d5b;
  font-weight: 600;
  margin: 0 5px;
  padding-left: 35px !important;
  text-shadow: none; */
}

.lsApp-toolbar .sb-listActions button {
  /* background-color: #fff;
  border: 1px solid #d8dae9;
  border-radius: 4px;
  color: #0a1551;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.125rem;
  min-height: 44px;
  outline: none;
  padding: 12px; */
}

.lsApp-toolbar .sb-folderToggle {
  /* background-color: #fff;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='13'%3E%3Cpath fill='%23767789' fill-rule='evenodd' d='M1 0h5.317L7.5 1.83H14a1 1 0 0 1 1 1V12a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1z'/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 15px 13px;
  border: 1px solid #dfdfe3;
  border-radius: 4px;
  cursor: pointer;
  display: none;
  flex-shrink: 0;
  height: 44px;
  margin-right: 8px;
  width: 44px; */
}

.lsApp-toolbar .sb-bulkActions {
  /* align-items: flex-start;
  display: flex;
  flex: 1 1;
  justify-content: flex-start;
  margin-right: 8px;
  padding-left: 17px; */
}
.sb-inputW {
  flex: 1 1;
  margin: 0 12px 0 8px;
  min-width: 240px;
  position: relative;
}

.sb-input-clear {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='3' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.55 1.5 1.25 19' stroke='%238D8DAA' stroke-linecap='square'/%3E%3C/svg%3E"),
    url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.586.929a.556.556 0 1 1 .785.785L1.515 9.571a.556.556 0 1 1-.786-.786L8.586.93Z' fill='%232B3245' stroke='%232B3245' stroke-width='.3'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.515.929a.556.556 0 0 0-.786.785l7.857 7.857a.556.556 0 1 0 .786-.786L1.515.93Z' fill='%232B3245' stroke='%232B3245' stroke-width='.3'/%3E%3C/svg%3E");
  background-position: 0, 100%;
  background-repeat: no-repeat, no-repeat;
  cursor: pointer;
  height: 100%;
  opacity: 1;
  pointer-events: all;
  position: absolute;
  right: 12px;
  top: -1px;
  transition: 0.3s;
  width: 18px;
}

.input-modal {
  background: #fff;
  border-radius: 4px;
  left: 50%;
  max-width: 700px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: calc(100vw - 30px);
}

.input-modal-header {
  align-items: center;
  border-bottom: 1px solid #c8ceed;
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
}

.input-modal-header-title.icon-addNewFolder {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='36' height='36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='36' height='36' rx='4' fill='%23FF6100'/%3E%3Cpath d='M9 9c0-1.657 1.194-3 2.667-3h12.666C25.806 6 27 7.343 27 9v18c0 1.657-1.194 3-2.667 3H11.667C10.194 30 9 28.657 9 27V9Z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.854 22.954c0 .71.55 1.286 1.228 1.286.677 0 1.227-.576 1.227-1.286v-3.342h3.19c.678 0 1.228-.576 1.228-1.286 0-.71-.55-1.286-1.227-1.286h-3.191v-3.514c0-.71-.55-1.286-1.227-1.286-.678 0-1.228.576-1.228 1.286v3.514H13.5c-.678 0-1.227.576-1.227 1.286 0 .71.549 1.286 1.227 1.286h3.354v3.342Z' fill='%23FF6100'/%3E%3C/svg%3E");
}

.input-modal-header-title[class*='icon-'] {
  padding-left: 46px;
}

.input-modal-header-title {
  align-items: center;
  background-position: 0;
  background-repeat: no-repeat;
  color: #0a1551;
  display: flex;
  font-size: 1.25rem;
  font-weight: 500;
  height: 36px;
}

.input-modal-header-close {
  cursor: pointer;
  transition: 0.3s;
}

.input-modal-content {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  padding: 32px 30px;
}

.input-modal-content-label {
  color: #0a1551;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 12px;
}

.input-modal-content-input {
  border: 1px solid #c8ceed;
  border-radius: 4px;
  color: #0a1551;
  font-size: 1rem;
  font-weight: 300;
  height: 40px;
  padding: 0 16px;
  transition: 0.3s;
  width: 100%;
}

.input-modal-footer {
  align-items: center;
  background-color: #f8f8fa;
  border-top: 1px solid #edeef5;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.input-modal-footer-button {
  align-items: center;
  background-color: transparent;
  border: 1px solid #b8b9c9;
  border-radius: 4px;
  color: #8c8fa8;
  display: flex;
  font-size: 1rem;
  height: 40px;
  justify-content: center;
  min-width: 110px;
  padding: 0 16px 2px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s;
}

.input-modal-footer-button.forConfirm {
  background-color: #78bb07;
  border-color: #78bb07;
  color: #fff;
}

.datatable-crud-demo .table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 960px) {
  .datatable-crud-demo .table-header {
    align-items: flex-start;
  }
}
.datatable-crud-demo .product-image {
  width: 100px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.datatable-crud-demo .p-dialog .product-image {
  width: 150px;
  margin: 0 auto 2rem auto;
  display: block;
}
.datatable-crud-demo .confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 960px) {
  .datatable-crud-demo .p-toolbar {
    flex-wrap: wrap;
  }
  .datatable-crud-demo .p-toolbar .p-button {
    margin-bottom: 0.25rem;
  }
  .datatable-crud-demo .table-header {
    flex-direction: column;
  }
  .datatable-crud-demo .table-header .p-input-icon-left,
  .datatable-crud-demo .table-header input {
    width: 100%;
  }
}

.joinBtn:hover {
  background-color: whitesmoke;
  font-weight: bold;
  display: block;
  cursor: pointer;
  color: #333;
}
